header {
  background: rgb(1 46 179 / 78%);
  border-bottom: 2px solid #000000;
  align-items: center;
  display: flex;
  height: 72px;
  position: relative;
  width: 100%;
}
header #card-usuario {
  right: 5%;
  position: absolute;
  display: flex;
}
header #card-usuario b {
  color: #000000;
  text-decoration: none;
  margin-right: 5px;
  padding: 14px 15px 0px 0px;
}
header #card-usuario p {
  color: #000000;
}
header #card-usuario #nome {
  font-size: small;
}
header #card-usuario #linha-vertical {
  height: 45px;
  border-right: 1px solid #000000;
}
header #card-usuario #avatar {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #000000;
  margin: 5px 5px 0px 15px;
}
header #card-usuario #usuario {
  margin-top: 4px;
}
header #card-usuario #icone {
  padding: 14px 0px 0px 12px;
}
header #logo {
  left: 5%;
  position: absolute;
}
img {
  cursor: pointer;
}
