/* You can add global styles to this file, and also import other style files */
@import "@angular/material/prebuilt-themes/indigo-pink.css";

.container {
  margin-left: 10px;
  margin-right: 10px;
  min-height: auto;
}

.mat-grid-tile .mat-figure {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  min-width: 300px;
  flex-grow: 1;
  overflow: auto;
}

.mat-form-field.mat-focused .mat-form-field-label .mat-accent {
  color: rgb(1 46 179 / 78%) !important;
}

.mat-form-field.mat-focused .mat-form-field-label .mat-accent {
  color: rgb(1 46 179 / 78%) !important;
}

.mat-form-field.mat-focused .mat-form-field-label {
  color: rgb(1 46 179 / 78%) !important;
}

.mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
  color: rgb(1 46 179 / 78%) !important;
}

.mat-form-field-appearance-outline.mat-focused.mat-accent
  .mat-form-field-outline-thick {
  color: rgb(1 46 179 / 78%) !important;
}
