.addButton {
  padding: 17px 0px 17px 0px;
  display: flex;
  justify-content: right;
}

.addButton button {
  background: rgba(255, 253, 253, 0.945);
}

.board {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.stage {
  width: 33%;
  box-shadow: 5px 1px 5px #888888;
}

.scroll {
  overflow: auto;
  max-height: 400px;
}

.background-page {
  min-height: 530px;
  background-color: rgba(99, 89, 89, 0.048);
}

h1 {
  margin-top: 16px;
  text-align: center;
}
