<app-header></app-header>
<div class="background-page">
  <div class="container">
    <div class="addButton">
      <!-- 20 max lengh titulo -->
      <button (click)="openDialog('add')" mat-stroked-button>
        Adicionar Card
      </button>
    </div>
    <div class="board">
      <div class="stage">
        <h1>To Do</h1>
        <div class="container scroll">
          <app-card
            *ngFor="let item of filterCards('ToDo')"
            (delete)="deleteCard(item.id)"
            (update)="openDialog('update', item)"
            (nextStep)="nextStep(item)"
            (backStep)="backStep(item)"
            [titulo]="item.titulo"
            [conteudo]="item.conteudo"
            [lista]="item.lista"
          ></app-card>
        </div>
      </div>
      <div class="stage">
        <h1>Doing</h1>
        <div class="container scroll">
          <app-card
            *ngFor="let item of filterCards('Doing')"
            (delete)="deleteCard(item.id)"
            (update)="openDialog('update', item)"
            (nextStep)="nextStep(item)"
            (backStep)="backStep(item)"
            [titulo]="item.titulo"
            [conteudo]="item.conteudo"
            [lista]="item.lista"
          ></app-card>
        </div>
      </div>
      <div class="stage">
        <h1>Done</h1>
        <div class="container scroll">
          <app-card
            *ngFor="let item of filterCards('Done')"
            (delete)="deleteCard(item.id)"
            (update)="openDialog('update', item)"
            (nextStep)="nextStep(item)"
            (backStep)="backStep(item)"
            [titulo]="item.titulo"
            [conteudo]="item.conteudo"
            [lista]="item.lista"
          ></app-card>
        </div>
      </div>
    </div>
  </div>
</div>
